<!-- Start Header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand scroll" href="index.html"><img src="{{ site.baseurl }}/svg/min/logo.svg" alt="{{ site.title }}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse scrollspy" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/index.html">Начало</a></li>
                <li><a href="{{ site.baseurl }}/index.html#about">За нас</a></li>
                <li><a href="{{ site.baseurl }}/index.html#treatments">Тайнства</a></li>
                <li><a href="{{ site.baseurl }}/index.html#team">Колектив</a></li>
                <li><a href="{{ site.baseurl }}/index.html#testimonials">Отзиви</a></li>
                <li><a href="{{ site.baseurl }}/index.html#gallery">Галерия</a></li>
                <li><a href="{{ site.baseurl }}/index.html#news">Новини</a></li>
                <li><a href="{{ site.baseurl }}/index.html#location">Местоположение</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Header -->
